[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
langchain = "*"
langchain-community = "*" # Added for components like FAISS
langchain-google-genai = "*" # Added for Google GenAI integrations
pypdf2 = "*"
python-dotenv = "*"
streamlit = "*"
openai = "*"
faiss-cpu = "*"
streamlit-extras = "*"
tiktoken = "*"
chromadb = "*"
pypdf = "*"
google-generativeai = "*"
deepgram-sdk = "*"
elevenlabs = "*"

[dev-packages]
pytest = "*"
pytest-mock = "*"

[requires]
python_version = "3.11" # Or your project's Python version
